{:tasks
 {test:clj {:task (apply clojure "-M:test-clj" *command-line-args*)}
  test:cljs {:task (apply clojure "-M:test-cljs" *command-line-args*)}
  test:bb {:extra-paths ["src" "test"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
           :task cognitect.test-runner/-main}
  test:nbb {:task (shell "npx nbb --classpath .:src:test test/nbb_runner.cljs")}}}
